@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.logo{
  color:white;
}

.logo span{
  font-family: 'Pacifico', cursive;
  font-size:20pt;
  margin-right:7px;
  z-index:3;
}

.logo img{
  width:30px;
  position:relative;
  vertical-align: top;
  
  top: 5px;
  z-index:1;
  margin-right: 2px;
}